<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">■ら民ユーザー認証とは</h2>
            <p class="card-text">
                ら民ユーザー認証は、登録されているマインクラフトIDがチャンネル会員であることを紐づける（認証する）サイトです。<br>
                このユーザー認証を行うことで、<br>
                ・月３回までのMCID変更<br>
                ・鯖主不在でもホワリスに自動追加<br>
                ・MCIDが正しいかチェック<br>
                が可能となります。<br>
            </p>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">■ホワリス追加までの流れ</h2>
            <p class="card-text">
                1.ニコニコチャンネルよりメールアドレス登録を行ってください。<br>
                →https://ch.nicovideo.jp/rader<br>
                2.一定日以降に認証メールが登録されたメールアドレス宛に送信されます。<br>
                3.届いたメールに記載されている、”チケットID”をこのサイトにある”MCID登録”ページより入力してください。<br>
                4.”MCID登録”ページで登録ボタンを押した後、１〜2時間程度で生活鯖に参加できるようになります。<br>
            </p>
            生活鯖へのホワリス追加は1時間に１回行われます。<br>
        </div>
    </div>
</div>