@import "bootstrap"; 
@import "trix";

.main-container{
    background-color: #272727;
}
body{
    background-color: #EEEEEE;
    }
.p{
    background-color: #00FF00;
}
h2 {
  background: linear-gradient(transparent 95%, #474747 90%);
}
